.market-header {
  display: flex;
  height: 100px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 99;
}

.logo {
  display: flex;
  width: 200px;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}
