.market-header {
    display: flex;
    height: 60px;
    align-items: center;
}

.logo {
    display: flex;
    width: 200px;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}
